body {
  background-color: #2D7BE5;
}

#layout {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 150px;
  position: relative;
}

#banner {
  height: 150px;
  background-color: #190765;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.name {
  background: url('../images/justinenglish_name.png') no-repeat;
  position: relative;
  height: 81px;
  width: 500px;
  bottom: -83px;
  left: 55px;
  z-index: 999;
}

.twitter_logo {;
  position: relative;
  left: 935px;
  top: 0px;
  width: 45px;
  height: 45px;
  /*box-shadow: 3px 3px 10px black;*/
}

.gh_logo {
  position: relative;
  left: 827px;
  top: 0px;
  width: 45px;
  height: 45px;
}

#banner p {
  width: 250px;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  display: inline-block;
  position: relative;
  left: 400px;
  top: -15px;
}

#banner li {
  color: white;
  list-style: none;
}

#banner ul {
  position: relative;
  left: 550px;
  top: -5px;
}


#content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

.skills {
  list-style: none;
  color: white;
  font-family: sans-serif;
  display: inline-block;
}

.skills li:nth-child(odd) {
  padding: 10px 0 0 0;
  margin-left: 40px;
}
