body {
  background-color: #A7D0F2;
  margin: 0;
  padding: 50px 0;
}

#layout {
  width: 1000px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#header {
  height: 150px;
  background: url(../images/facebook_icon.png) no-repeat;
  background: url(../images/twitter_icon.png) no-repeat;
  background-color: #04508F;
}

#header h2 {
  color: #aaa;
  font-family: sans-serif;
  font-size: 60px;
  margin: 0 0 5px 300px;
}

#header h4 {
  color: #aaa;
  font-size: 14px;
  margin-left: 230px;
}

.footer {
  height: 150px;
  background: #04508F;
}

.footer p {
  color: #aaa;
  width: 50px;
  margin: 5px 0 0 300px;
  font-family: sans-serif;
  font-size: 25px;
}

.footer ul {
  list-style: none;
  color: #aaa;
  width: 20px;
}
