/******* MISC *******/
* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body, html {
  padding: 0;
  margin: 0;
  color: #666;
  background-color: #F9F9F9;
}

#site-wrapper {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

p {
  font-size: 1.1em;
}

h1,h2,h3,h4,h5 {
  color: #2c3e50;
}

.container {
  margin: 0 5%;
}

.clear {
  clear: both;
}

/******* HELPER CLASSES *******/
.pl-25 {
  padding-left: 25px;
}

.pr-25 {
  padding-right: 25px;
}

/******* PORTFOLIO *******/
.omega {
  background-image: url('../images/omega.png');
}

.dcc {
  background-image: url('../images/dcc.png');
}

.sentricon {
  background-image: url('../images/sentricon.png');
}

.portfolio {
  margin: 20px 0;
  overflow: auto;
}

.portfolio a {
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
  width: 49%;
  height: 300px;
  line-height: 300px;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 2%;
  margin-bottom: 2%;
  float: left;
  opacity: 0.6;
  transition: opacity 0.85s;
}

.portfolio a:last-child {
  margin-right: 0;
}

.portfolio a:hover {
  opacity: 1;
}

.omega, .dow, .dcc, .sentricon {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/******* CONTACT *******/
.contact {
  margin-top: 30px;
  min-height: 100px;
  overflow: auto;
}

.contact p {
  margin-top: 0;
}

.contact .portrait {
  float: left;
  margin-right: 15px;
  margin-top: 3px;
  width: 135px;
}

.contact .social {
  display: inline-block;
  vertical-align: top;
}

.contact .social img {
  max-width: 35px;
  margin-right: 10px;
  opacity: 0.4;
  transition: all 0.5s;
}

.contact .social img:hover {
  opacity: 0.9;
}

/******* FOOTER *******/
.footer {
  padding: 20px 0;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #18bc9c;
}

.footer .copyright {
  font-size: 0.8em;
}

/******* MEDIA QUERIES *******/
@media (max-width: 480px) {
  .portfolio a {
    width: 100%;
    margin: 0 0 25px 0;
    float: none;
  }

  .contact .social img,
  .portfolio a {
    opacity: 1;
  }

  .container.mobile-full-width {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .container {
    margin: 0 5%;
  }

  .pl-25, .pr-25 {
    padding: 0;
  }

  .portfolio {
    margin: 0;
  }
}
