@keyframes slide-fade-in {
  0%   { opacity: 0; margin-top: -100px; }
  100% { opacity: 1; margin-top: 0; }
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #fff;
}

p {
  font-size: 1.15rem;
}

#site-wrapper {
  background-image: url('../img/detroit-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  padding: 25px;
}

.header {
  color: inherit;
  text-align: center;
  opacity: 0;

  -moz-animation: slide-fade-in 1.5s 1 forwards;
  -o-animation: slide-fade-in 1.5s 1 forwards;
  -webkit-animation: slide-fade-in 1.5s 1 forwards;
  animation: slide-fade-in 1.5s 1 forwards;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.header__title {
  font-weight: 100;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.header__content {
  width: 50%;
  margin: 0 auto;
}

.social-icons {
  margin-top: 2%;
}

.social-icons a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  margin-right: 1%;
  opacity: 0.65;
  cursor: pointer;
}

.social-icons a:hover {
  opacity: 0.9;
}

.header i:last-child {
  margin-right: 0;
}

.portfolio {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;

  opacity: 0;
  -moz-animation: slide-fade-in 1.5s 1 forwards;
  -o-animation: slide-fade-in 1.5s 1 forwards;
  -webkit-animation: slide-fade-in 1.5s 1 forwards;
  animation: slide-fade-in 1.5s 1 forwards;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.portfolio__header {
  color: inherit;
}

.portfolio a.portfolio-box {
  display: inline-block;
  margin-right: 1%;
  width: 20%;
  height: 225px;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.4;
}

.portfolio a.portfolio-box:hover {
  background-color: rgba(0,0,0,0.7);
  opacity: 0.9;
}

.portfolio a.portfolio-box:last-child {
  margin-right: 0;
}

.portfolio a {
  background-color: rgba(0,0,0,0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.portfolio a.dow {
  background-image: url('../img/dow.png');
}

.portfolio a.dcc {
  background-image: url('../img/dcc.png');
}

.portfolio a.sentricon {
  background-image: url('../img/sentricon.png');
}

.portfolio a.omega {
  background-image: url('../img/omega.png');
}

@media (max-width: 992px) {

  body, html {color: #222; background-color: #eee;}

  #site-wrapper {
    background-image: none;
  }

  .header__content {
    width: 90%;
  }

  .social-icons a {
    font-size: 2.5rem;
    margin-right: 3%;
  }

  .portfolio {
    padding-top: 8%;
    position: initial;
  }

  .portfolio a.portfolio-box {
    margin-bottom: 3.5%;
    margin-right: 0;
    opacity: 0.8;
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 492px) {
  .header__title {
    font-size: 2rem;
  }
}